@import "tailwindcss";

@font-face {
  font-family: "Iowan Old Style";
  src: url("/fonts/iowan.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Iowan Old Style", "Open Sans", "Montserrat", "Lato", Arial;
  /* font-family: "Open Sans", "Montserrat", "Lato", Arial, sans-serif; */
  font-size: 14px;
  font-weight: 400;
}

.splitpanes__pane {
  background-color: #FAFAF7 !important;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: #FAFAF7 !important;
}

code {
  border-radius: 4px;
  padding: 2px 6px;
  font-family: "Menlo", "Monaco", "Courier New", monospace;
  color: #404040;
  border: 1px solid #eaeaea;
  margin: 0 2px;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  code {
    color: #404040;
    border-color: #404040;
  }
}

/* When code appears inside pre */
pre code {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-weight: 600;
}

pre {
  background: #f6f8fa;
  border-radius: 6px;
  padding: 1rem;
  margin: 1rem 0;
  overflow-x: auto;
}

code {
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.4;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  background: #f6f8fa;
}

pre code {
  padding: 0;
  background: transparent;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
}

button {
  cursor: pointer;
}


.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 150px;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  color: black;
  text-align: left;
}

.suggestion-item:hover,
.suggestion-item.selected {
  background-color: #f0f0f0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



/* wiggle all svg icons */
@keyframes wiggle {

  0%,
  100% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(15deg);
  }

  30% {
    transform: rotate(-15deg);
  }

  45% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }
}

svg:hover {
  animation: wiggle 0.8s ease-in-out;
}


/* default tailwind 4 theme */

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-flip: flip 6s infinite steps(2, end);
  --animate-kitrotate: kitrotate 3s linear infinite both;
  --animate-shine: shine 2s linear infinite;
  --animate-slide: slide 40s linear infinite;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  --animate-border-width: border-width 3s infinite alternate;
  --animate-text-gradient: text-gradient 2s linear infinite;
  --animate-text-shake: text-shake 1s ease 1;
  --animate-text-glitch-to: text-glitch-to 0.6s ease-in-out infinite;
  --animate-text-glitch-from: text-glitch-from 0.6s ease-in-out infinite;
  --animate-text-scale: text-scale 1s linear infinite forwards;
  --animate-spin: spin 2s linear infinite;
  --animate-background-shine: background-shine 2s linear infinite;
  --animate-pulse-slow: pulse 6s infinite cubic-bezier(0.4, 0, 0.6, 1);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes flip {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes kitrotate {
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes shine {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -200% 0;
    }
  }

  @keyframes border-width {
    from {
      width: 10px;
      opacity: 0;
    }

    to {
      width: 100px;
      opacity: 1;
    }
  }

  @keyframes text-gradient {
    to {
      background-position: 200% center;
    }
  }

  @keyframes text-shake {
    15% {
      transform: translateX(5px);
    }

    30% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(3px);
    }

    80% {
      transform: translateX(2px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes text-glitch-to {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  @keyframes text-glitch-from {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes text-scale {
    0% {
      transform: scaleX(0);
      transform-origin: bottom left;
    }

    25% {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    75% {
      transform: scaleX(1);
      transform-origin: bottom right;
    }

    100% {
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes spotlight {
    0% {
      opacity: 0;
      transform: translate(-72%, -62%) scale(0.5);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -40%) scale(1);
    }
  }

  @keyframes background-shine {
    from {
      background-position: 0 0;
    }

    to {
      background-position: -200% 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}